.pydev
.linuxdev
.venv
*.pyc
.idea
w1.*
jamja/logs/*
media/*
static/cached
celerybeat-schedule.db
celerybeat.pid
jamja/cached
esearch/data
esearch/logs
jamja/__init__.py
.vscode/*
node_modules
static/bower/flip-clock/node_modules